*,
*::before,
*::after {
    box-sizing: border-box;
}

h5 {
    background-color: khaki;
}

li {
    list-style: none;
}

#menu {
    height: 500px;
    padding: 0!important;
}

#slide-image {
    height: 500px;
    width: 100% !important;
    padding: 2px !important;
}

#news-notify {
    height: 500px;
    padding: 0 !important;
}

#news-post,
#notify {
    height: 50%;
    padding: 0 !important;
    margin: 0 !important;
    display: list-item;
    list-style: none;
}

.carousel-item {
    display: block;
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto;
    height: auto;
}

#list-video,
#newspaper {
    height: 500px;
}

.scroll {
    height: 85%;
    width: 100%;
    overflow-y: scroll;
}

.card {
    width: 95%;
}

#footer {
    background-color: lemonchiffon;
}

#tree-giapha {
    height: 90vh;
    width: 100%;
}

#tin-tuc,
#lich-su {
    height: 500px;
    width: 100%;
}